.lkContainer {
  width: 100%;
  font-size: 14px;
  margin-top: 100px;
  max-width: 1600px;
  display: flex;
}

.lkSidebar {
  font-weight: 700;
  max-width: 427px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 20px;
  padding-left: 25px;
  max-height: 630px;
}

.lkSidebarTitle {
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.lkSidebarTitleText {
  margin-left: 20px;
  font-size: 30px;
  color: #e13190;
}

.lkSiderbarTitleIcon {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.lkSidebarContent {
  padding-bottom: 50px;
}

.lkSidebarContentElem {
  font-size: 20px;
  color: #e13190;
  padding: 40px 0;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

.lkSidebarContentElemActive {
  background: #ffffff;
}

.lkMainScreen {
  width: 100%;
  padding: 0 65px;
}

.lkSidebarContentElemText {
  margin-left: 15px;
}

.lkMainScreenTitle {
  font-size: 30px;
  color: #000000;
  margin-bottom: 50px;
  font-weight: 400;
  margin-top: 50px;
}

@media (max-width: 1530px) {
  .lkContainer {
    flex-direction: column;
    margin-top: 0;
  }

  .lkMainScreenTitle {
    text-align: center;
  }

  .lkSidebar {
    max-width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .lkSidebarContentElem {
    border-radius: 20px;
    padding: 40px;
  }

  .lkSidebarTitle {
    justify-content: center;
    margin-bottom: 40px;
  }

  .lkSidebarContent {
    padding-bottom: 0;
  }

}
