.lkContainer {
  width: 100%;
  font-size: 14px;
}

.lkSidebar {
  font-weight: 700;
  max-width: 427px;
  width: 100%;
  background: #F5F5F5;
  border-radius: 20px;
  padding-left: 25px;
  height: 900px;
}

.lkSidebarTitle {
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.lkSidebarTitleText {
  margin-left: 20px;
  font-size: 30px;
  color: #E13190;
}

.lkSidebarContentElem {
  font-size: 20px;
  color: #E13190;
  padding: 40px 0;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

.lkSidebarContentElemActive {
  background: #FFFFFF;
}

.lkMainScreen {
  width: 100%;
  padding: 0 65px;
}

.lkSidebarContentElemText {
  margin-left: 15px;
}

.lkMainScreenTitle {
  font-size: 30px;
  color: #000000;
  margin-bottom: 50px;
  font-weight: 400;
  margin-top: 50px;
}

.lkMainScreenSlider {

}