.resetPassword {
    width: 370px;
    height: 400px;
    color: #FCFCFC;

    background: #2B0077;

}
.continueButton {
  max-width: 200px;
  width: 100%;
  display: block;
  height: 41px;
  color: #FCFCFC;
  background: linear-gradient(180deg, #DF24EF 0%, #E13386 100%);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 3%;
  margin: 0 auto;
}

.ResetPasswordheader {
  text-align: center;
  overflow: hidden;
  padding-bottom: 25px;
}

.resetPasswordheaderForm {
  font-size: 19px;
  position: relative;
  font-weight: normal;
  display: inline;
  left: -10%;
  top: -18px;
}

.headerModal {
  font-size: 19px;
  position: relative;
  font-weight: normal;
  display: inline;
  left: -6%;
}

.message{
  position: relative;
  top: 8px;
  left: -2px;
}

.resetPasswordCloseButton {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: 10px;
}

.mail{
  position: relative;
  top: 28px;
  left: -78px;
}
.closeButton {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.textModal {
  font-size: 13px;
  line-height: 18px;
  margin: 7% 18% 14% 18%;
}

.resetFormtextForm {
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
  max-width: 240px;
  text-align: center;
  margin-bottom: 30px;
}

.resetPasswordformField {
  width: 100%;
  display: block;
  max-width: 300px;
  margin-bottom: 26px;
  line-height: 20px;
  padding: 10px;
  color: #757575;
  font-weight: 300;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 25px;
}

p {
  margin: 0;
}