.main {
    display: flex;
    justify-content: center;
}

.about_2nd {    
    padding: 160px 0px 240px 25px;
}

.about_1st {
    padding: 150px 0px 0px 25px;
}

.about_3rd {
    align-self: center;
}

.about_header {
    font-weight: 600;
    font-size: 40px;
    margin: 0px 0px 80px 0px; 
}

.about_content {
    max-width: 509px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    padding: 0px 25px 0px 0px;
}

.about_button {
    font-size: 25px;    
    font-weight: 300; 
    color: white;
    width: 290px;
    height: 80px;
    background: radial-gradient(108.23% 100% at 50% 100%, #1919E0 0%, #FF2C9C 100%);
    border: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin: 100px 0px 0px 0px;
}

.about_pic {
    padding: 0px 0px 0px 100px;
}

@media screen and (max-width: 1023px) {
    .about_1st {
        padding-bottom: 120px;
    }
    .about_2nd {
        padding-bottom: 120px;
        font-size: 35px;
    }
    .about_3rd {
        display: none;
    }
    .about_header {
        margin: 0px 0px 50px 0px;
    }
    .about_button {
        margin: 50px 0px 0px 0px;
    }

    .about_button {
        width: 235px;
        height: 60px;
    }
}

@media screen and (max-width: 767px) {
    .about_header {
        font-size: 30px;
    }
    .about_1st img {
        width: 40px;
    }
    .about_button {
        font-size: 16px;
        width: 190px;
        height: 55px;
    }
    .about_2nd {    
        padding: 90px 0px 50px 25px;
    }
    
    .about_1st {
        padding: 80px 0px 0px 25px;
    }
}

@media screen and (max-width: 480px) {
    .about_1st {
        display: none;
    }
    .about_2nd {    
        padding: 60px 0px 50px 15px;
    }
    .about_header {
        margin: 0px 0px 20px 0px;
    }
}