.header {
    background-image: url(../../img/header.png);
    width: 100%;
    left: 0;
    top: 0;
    color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    font-size: 20px;
    margin-top: 30px;
}

.hamburgerMenu {
    display: none;
}

.leftHeader {
    display: flex;
    align-items: center;
    min-width: 150px;
    margin-left: 30px;
}

.logo {
    margin-right: 30px;
    height: 70px;
    position: absolute;
    top: -25px;
    z-index: 10;
    left: -15px;
    height: 116px;
}

.headerContainer {
    position: relative;
}

.centerHeader {
    flex-grow: 1;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    line-height: 27px;
}

.rightHeader {
    margin-right: 30px;
}

@media (max-width: 1023px) {
    .header {
        font-size: 16px;
    }    
}

@media (max-width: 767px) {
    .header {
        padding: 15px 0;
        font-size: 14px;
    }
    .centerHeader {
       display: none;
    }    

    .logo {
        height: 50px;
        margin-right: 15px;
    }

    .leftHeader {
        margin-left: 20px;
    }

    .rightHeader {
        margin-right: 20px;
    }

    .rightHeader a {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
}

