.P_main {
    display: flex;
    justify-content: center;
}

.P_container {
    max-width: 1135px;
    display: flex;
    flex-direction: column;
}

.P_title {
    font-weight: 600;
    font-size: 40pt;
    margin: 11% 0px 6% 16px;
}

.P_content {
    max-width: 900px;
    font-weight: normal;
    font-size: 15pt;
    line-height: 170%;
    margin: 0px 0px 6% 16px;
}

.P_flexshit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.P_img {
    padding: 16px;
}

@media screen and (max-width: 1127px) {
    .P_container {
        max-width: 850px;
    }
}

@media screen and (max-width: 845px) {
    .P_container {
        max-width: 570px;
    }
}

@media screen and (max-width: 563px) {
    .P_text {
        padding: 2%;
    }
    .P_title {
        font-size: 30pt;
    }
}