<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>IB</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>





 
<section class="enter">
  <h2 class="enterloggtext">Вход</h2>
  
  <form action="#" method="get">
    <input type="email" placeholder="Адрес электронной почты">
    <input type="password" placeholder="Пароль">
    <input type="submit" value="Войти">
  </form>
  <p class="forgetpassword">Забыли пароль?</p>
  
  
  <p class="nonregister">Не зарегестрированы?</p> 
  <button class="create_acc">Создать учетную запись</button>
  </section>
  
  <section class="registration">
  <h2 class="registrationtext">Регистрация</h2>
  
  <form action="#" method="get">
      <input type="text">
      <input type="text">
      <input type="email" placeholder="Адрес электронной почты">
      <input type="password" placeholder="Пароль">
      <input type="text">
      <input type="submit" class="create_acc" value="Создать учетную запись">
  </form>
  
  </section>
  



  </body>
</html>
